.profile {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

img {
  border-radius: 50%;
}

.section {
  text-align: left;
  margin-top: 20px;
}

.poste {
  color: #666;
}
