<header class="navbar">
  <div class="nav-left">
    <button class="menu-btn" (click)="toggle.emit()">
      <span class="material-icons">menu</span>
    </button>

    <span class="brand">Ready Dashboard</span>
  </div>

  <div class="nav-center">
    <input type="text" placeholder="Search..." />
    <span class="material-icons search">search</span>
  </div>

  <div class="nav-right">
    <span class="material-icons notif">notifications</span>

    <div class="user">
      <img src="/profil.png" />
      <span>Babou</span>
    </div>

    <button class="logout-btn" (click)="logout()">
      <span class="material-icons">logout</span>
    </button>
  </div>
</header>
