.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 70px;
    height: 100vh;
    background: #0D1B2A;
    color: white;
    transition: width .3s ease;
    overflow: hidden;
    z-index:1000;
}

/* 🟢 ouverte */
.sidebar.open{
    width: 240px;
}

.sidebar-header{
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.logo{
    font-size:18px;
}

nav{
    display:flex;
    flex-direction:column;
}

/* menu items */
nav a{
    display:flex;
    align-items:center;
    gap:14px;
    padding:15px 18px;
    color:#ddd;
    text-decoration:none;
    white-space: nowrap;
    transition:.2s;
}

nav a:hover{
    background:#1B263B;
}

nav a.active{
    background:#415a77;
    color:#fff;
}

.material-icons{
    font-size:22px;
    min-width:25px;
}

nav a p{
    opacity:0;
    transform:translateX(-10px);
    transition:.2s;
}

/* textes visibles quand ouvert */
.sidebar.open p{
    opacity:1;
    transform:translateX(0);
}

.toggle-btn {
    position: absolute;
    bottom: 30px;
    right: -5px;
    
    background: #415a77;
    border-radius: 50%;
    border:none;
    width:30px;
    height:30px;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;
    color:white;
    box-shadow:0 4px 10px rgba(0,0,0,.2);
}

.toggle-btn:hover {
    background:#778da9;
}

.toggle-btn span {
    font-size:20px;
}

@media (max-width: 768px){
    .sidebar{
        width:0;
    }
    .sidebar.open{
        width:220px;
    }
}

