<aside class="sidebar" [class.open]="isOpen">

  <div class="sidebar-header">
    <span class="logo">RH</span>
  </div>

  <nav>

    <a  *ngIf="auth.hasRole('ADMIN','FINANCE')"
     routerLink="/dashboard" routerLinkActive="active">
      <span class="material-icons">dashboard</span>
      <p>Tableau de bord</p>
    </a>

    <a *ngIf="auth.hasRole('ADMIN','RH')"
     routerLink="/employees" routerLinkActive="active">
      <span class="material-icons">groups</span>
      <p>Employés</p>
    </a>

    <a  *ngIf="auth.hasRole('ADMIN','FINANCE')"
    routerLink="/payroll" routerLinkActive="active">
      <span class="material-icons">payments</span>
      <p>Paiements</p>
    </a>
      <a *ngIf="auth.isEmploye()"
       routerLink="/profil"
       routerLinkActive="active">
      <span class="material-icons">person</span>
      <p>Mon Profil</p>
    </a>
    <a  *ngIf="auth.hasRole('ADMIN','RH')"
    routerLink="/departments" routerLinkActive="active">
      <span class="material-icons">apartment</span>
      <p>Départements</p>
    </a>

    <a *ngIf="auth.hasRole('ADMIN','RH')"
     routerLink="/contracts" routerLinkActive="active">
      <span class="material-icons">article</span>
      <p>Contrats</p>
    </a>

    <a routerLink="/leaves" routerLinkActive="active">
      <span class="material-icons">time_to_leave</span>
      <p>Congés</p>
    </a>

    <a routerLink="/settings" routerLinkActive="active">
      <span class="material-icons">settings</span>
      <p>Paramètres</p>
    </a>
  </nav>
      <button class="toggle-btn" (click)="toggle()">
      <span class="material-icons">
         {{ isOpen ? 'chevron_left' : 'chevron_right' }}
      </span>
    </button>

</aside>
